@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root, [data-bs-theme="light"]{
    --bs-primary-rgb: 10, 176, 226;
}

body{
    background-color: #ebf7ff;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0ab0e2;
    --bs-btn-border-color: ;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #055c9e;
    --bs-btn-hover-border-color: #055c9e;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #055c9e;
    --bs-btn-active-border-color: #055c9e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0ab0e2;
    --bs-btn-disabled-border-color: #0ab0e2;
}

#mapDetail{
    height: 300px;
}